.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  border: 3px solid var(--dark);
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  max-width: 450px;
  aspect-ratio: 1;
  background: var(--dark);
}
